<div class="container w-50mt-5 text-center">
  <div class="text-center display-4 m-3 text-black text-strong">
    Word Limit: {{limit}}
  </div>

  <input 
  type="range" 
  min="1"
  max="50"
  value="{{limit}}"
  class="slider form-control-range"
  (change)="handleSlideChange($event.target.value)"
  />

  <button class="btn" (click)="generate()">Generate words</button> 

  <div *ngIf="words" class="card card-body">
    <p class="display-6">
      {{words}}
    </p>
  </div>
  <br>
  <button class="btn" (click)="handleRandomCountryName()">Random Country</button>

  <div *ngIf="countryName" class="card card-body">
    <p class="display-6">
      {{countryName}}
    </p>
  </div>
</div>